@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
    font-family: Poppins;
    src: url('assets/fonts/Poppins/Poppins-Regular.ttf');
}

* {
    font-family: "Poppins", Poppins;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-padding-top: 1rem;
    scroll-behavior: smooth;
}

:root {
    --main-color: #ff0037;
    --main-color-hover: #ff2352;
    --text-color: #0e070c;
    --bg-color: #fff;
}

.preloader {
    z-index: 1000;
    position: fixed;
    width: 100%;
    height: 100%;
    background: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.preloader .loader {
    display: flex;
    column-gap: 20px;
    align-items: center;
}

.preloader .loader .dot {
    width: 0.5rem;
    height: 0.5rem;
    background: var(--main-color);
    border-radius: 50%;
    animation: preloader alternate infinite 0.5s;
    position: relative;
}

.preloader .loader .dot1 {
    animation-delay: 0s;
}

.preloader .loader .dot2 {
    animation-delay: 250ms;
}

.preloader .loader .dot3 {
    animation-delay: 500ms;
}

@keyframes preloader {
    to {
        transform: scale(2.5);
    }
}

html::-webkit-scrollbar {
    width: 0.8rem;
}

html::-webkit-scrollbar-track {
    background: #e4e2e2;
}

html::-webkit-scrollbar-thumb {
    background: #ff0037;
}

img {
    width: 100%;
}

body {
    font-size: 1rem;
    color: var(--text-color);
    overflow-x: hidden;
}

.container {
    max-width: 1068px;
    margin-left: auto;
    margin-right: auto;
}

section {
    padding: 4rem 0 2rem;
    margin-top: 2rem;
}

section .heading {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 0 0 2rem;
}

section .heading h3 {
    font-size: 0.9rem;
    color: var(--main-color);
    font-weight: 500;
}

section .heading h1 {
    font-size: 2rem;
    margin: 0.5rem 0;
}

section .heading .line {
    background: #ff0037a8;
    height: 2px;
    width: 5rem;
    border-radius: 50px;
    position: relative;
    margin-bottom: 1.5rem;
}

section .heading .line::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    height: 3px;
    width: 70%;
    background: #ff0037a8;
}

.top {
    background: var(--bg-color);
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 100;
    padding: 20px 35px;
    display: flex;
    justify-content: center;
}

.top .top-content {
    width: 1068px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top #nav-icon {
    font-size: 26px;
    cursor: pointer;
    color: var(--text-color);
    display: none;
}

.top .logo {
    font-size: 1.3rem;
    font-weight: 700;
}

.top .logo span {
    color: var(--main-color);
}

.top .nav-container {
    display: flex;
    column-gap: 1.5rem;
}

.top .navbar {
    display: flex;
    align-items: center;
    column-gap: 30px;
}

.top .search-icon {
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--bg-color);
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    line-height: 40px;
    background: var(--main-color);
    cursor: pointer;
}

.top .search-wrapper {
    background: none;
    box-shadow: 0 0 10px #0002;
    width: 93.5%;
    height: fit-content;
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    pointer-events: none;
    clip-path: circle(0% at 100% 0%);
    transition: 0.2s;
}

@media (min-width: 1120px) {
    .top .search-wrapper {
        width: 65rem;
    }
}

.top .search-wrapper.show {
    opacity: 1;
    pointer-events: unset;
    clip-path: circle(144% at 100% 0%);
}

.top .search {
    background: var(--bg-color);
    border-radius: 0.4rem;
    border: 1px solid var(--main-color);
    padding: 0.8rem 2.2rem;
    font-size: 0.95rem;
    width: 100%;
}

.top .search-wrapper button {
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    font-size: 1.05rem;
    background: none;
    border: 0;
    display: flex;
    justify-content: center;
}

.navbar a {
    font-size: 1rem;
    color: var(--text-color);
    font-weight: 500;
    position: relative;
}

.navbar a:hover,
.navbar .active {
    transition: 0.3s;
    color: var(--main-color);
}

.navbar a::after {
    content: "";
    width: 0%;
    height: 2px;
    position: absolute;
    bottom: -4px;
    left: 0;
    background: var(--main-color);
    transition: 0.5s;
}

.navbar a:hover::after,
.navbar .active::after {
    width: 100%;
}

header {
    width: 100%;
    height: 600px;
    padding: 0 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: linear-gradient(#5559, #5559), url('assets/images/pexels-hassan-ouajbir-804128.jpg');
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: var(--bg-color);
}

header .text {
    max-width: 1068px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.text .big-text {
    font-size: 4rem;
    font-weight: 600;
    line-height: 4rem;
    text-align: center;
}

.text .big-text span {
    color: var(--main-color);
}

.text .nav-info {
    width: fit-content;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    padding: 0.4rem 1.3rem;
    background: var(--main-color);
    color: var(--bg-color);
    border-radius: 0.5rem;
    position: absolute;
    bottom: -1.1rem;
}

.text .nav-info .bx {
    color: #fff9;
    font-size: 1.3rem;
    transform: translateY(0.25rem);
}

#about .container {
    display: flex;
    align-items: center;
    column-gap: 5rem;
}

#about .about-img {
    width: 100%;
    max-height: 30rem;
    border-radius: 0.6rem;
    overflow: hidden;
}

#about .about-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    animation: animate 20s alternate-reverse infinite;
}

@keyframes animate {
    0% {
        transform: translateX(4rem) translateY(-3rem) scale(1.5);
    }
    
    50% {
        transform: translateX(-3rem) translateY(2rem) scale(1.2);
    }

    100% {
        transform: translateX(4rem) scale(1.4);
    }
}

#about .about-text {
    width: 100%;
}

#about .about-text .heading {
    text-align: start;
    align-items: flex-start;
    margin-bottom: 1rem;
}

.about-text .heading .line {
    width: 3rem;
}

.about-text .heading .line::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    transform: none;
    height: 3px;
    width: 65%;
    background: #ff0037a8;
}

#about .about-small-text p {
    font-size: 0.95rem;
    color: #444;
    line-height: 27px;
}

#about .about-feature {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    column-gap: 1rem;
}

#about .about-feature li {
    list-style: none;
    font-size: 0.95rem;
    font-weight: 500;
}

#about li .bx {
    font-size: 1.4rem;
    font-weight: 600;
    transform: translateY(0.3rem);
    color: var(--main-color);
}

#about li .bx.close {
    margin-left: -0.9rem;
}

#features {
    background: #f7f7f7;
    padding-bottom: 2rem;
}

#features .features-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 4rem;
    column-gap: 2rem;
    row-gap: 2rem;
}

#features .features-wrapper .feature {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    column-gap: 1.3rem;
    flex: 1;
}

.features-wrapper .feature .feature-img {
    background: var(--main-color);
    color: var(--bg-color);
    min-width: 5rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.7rem;
    box-shadow: 0.5rem 0.5rem 0.5rem #ff003738;
}

.feature .feature-img .bx {
    color: var(--bg-color);
    font-size: 3rem;
}

.features-wrapper .feature .feature-text {
    min-width: 12rem;
    max-width: 14rem;
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}

.feature .feature-text .big-text {
    font-size: 1.3rem;
    font-weight: 700;
}

.feature .feature-text .small-text {
    font-size: 0.9rem;
    color: #555;
    font-weight: 500;
}

#testimonial {
    margin-top: 2rem;
}

#testimonial .slide-pagination {
    position: absolute !important;
    left: 50% !important;
    transform: translateX(-3%) !important;
}

#testimonial .heading {
    margin-bottom: -1rem;
}

#testimonial .testimonial-wrapper {
    padding-bottom: 2.5rem;
}

#testimonial .testimonial-wrapper .testimonial-card {
    position: relative;
    width: 20rem;
    height: fit-content;
    padding: 1.5rem;
    padding-bottom: 3.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.4rem 0.6rem 0.3rem rgba(0, 0, 0, 0.075);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.testimonial-wrapper .testimonial-card .rating {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    column-gap: 0.3rem;
}

.testimonial-card .rating .bx {
    color: #ffae00;
    font-size: 1.3rem;
}

.testimonial-card .testimonial-text {
    text-align: center;
}

.testimonial-card .testimonial-text .speech {
    word-break: break-all;
    text-align: left;
    font-size: 0.8rem;
    color: #555;
    margin: 1rem 0 0.7rem;
}

.testimonial-card .testimonial-text .name {
    font-size: 1.1rem;
    font-weight: 600;
}

.testimonial-card .testimonial-text .title {
    font-size: 0.8rem;
    font-weight: 500;
    color: var(--main-color);
    margin-top: 0.4rem;
}

.testimonial-wrapper .testimonial-card .testimonial-image {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    position: absolute;
    bottom: -2.3rem;
    left: 50%;
    transform: translateX(-50%);
    border: 1px dashed var(--main-color);
    padding: 0.3rem;
}

.testimonial-card .testimonial-image img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.testimonial-wrapper .testimonial-card .quote-ic {
    font-size: 4rem;
    color: #ff003750;
    position: absolute;
    right: 1.3rem;
    bottom: 0.8rem;
}

#faq {
    background: var(--main-color);
    position: relative;
}

#faq .container {
    display: flex;
}

#faq .heading {
    color: var(--bg-color);
    align-items: flex-start;
    text-align: start;
}

#faq .heading .line {
    width: 3rem;
    background: var(--bg-color);
}

#faq .heading .line::after {
    left: 0;
    transform: none;
    width: 65%;
    background: var(--bg-color);
}

#faq .faq-content {
    padding-right: 2rem;
    padding-bottom: 2rem;
    width: 50%;
}

#faq .faq-content .faq-questions {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}

#faq .faq-questions .question {
    width: 100%;
    background: var(--bg-color);
    padding: 0.8rem 1.3rem;
    border-radius: 0.6rem;
    font-size: 0.858rem;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1rem;
}

.faq-questions .question .bx {
    min-width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    line-height: 33px;
    background: #ff110041;
    color: var(--main-color);
    border-radius: 50%;
    font-size: 1.4rem;
}

#faq .faq-image {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}

#faq .faq-image .play-btn {
    width: 6rem;
    height: 6rem;
    font-size: 4rem;
    background: var(--main-color);
    color: var(--bg-color);
    z-index: 1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#faq .faq-image .play-btn::after {
    content: "";
    border-radius: 50%;
    background: #ff003738;
    position: absolute;
    z-index: -1;
    animation-name: play-btn-animation;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 1.5s;
}

@keyframes play-btn-animation {
    0% {
        width: 6rem;
        height: 6rem;
    }
    
    50% {
        width: 8rem;
        height: 8rem;
        opacity: 0.8;
    }

    100% {
        opacity: 0;
    }
}

#faq .faq-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    filter: brightness(70%);
}

#topRated .brands {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 1rem;
    row-gap: 1rem;
    margin: 0 0 2rem;
}

#topRated .brands .brand,
#topRated .brands .explore {
    background: var(--bg-color);
    color: var(--text-color);
    padding: 10px 25px;
    border-radius: 0.5rem;
    box-shadow: 0 0.2rem 0.7rem 0.1rem #0002;
    font-size: 1rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
}

#topRated .brands img {
    height: 1.5rem;
}

#topRated .brands .brand:hover,
#topRated .brands .explore:hover,
#topRated .brands .explore:hover span {
    background: var(--main-color);
    color: var(--bg-color);
}

.brands .explore span {
    color: var(--main-color);
}

.slide-container {
    max-width: 1120px;
    width: 100%;
    padding: 40px 0 !important;
}

.slide-content,
.swiper-content {
    padding: 10px;
    margin: 0 40px;
    overflow: hidden;
}

.swiper-navBtns {
    color: var(--main-color) !important;
    transition: color 0.3s ease;
}

.swiper-navBtns:hover {
    color: #fd3f68 !important;
}

.swiper-navBtns::before,
.swiper-navBtns::after {
    font-size: 2.3rem !important;
}

.swiper-button-next {
    right: 0 !important;
}

.swiper-button-prev {
    left: 0 !important;
}

.swiper-pagination-bullet {
    background-color: #0003 !important;
    opacity: 1 !important;
    transition: 0.1s ease !important;
}

.swiper-pagination-bullet-active {
    background-color: var(--main-color) !important;
    width: 1.2rem !important;
    border-radius: 50px !important;
}

#topRated .card {
    height: fit-content !important;
    padding: 0.7rem;
    border-radius: 0.6rem;
    box-shadow: 0 0.2rem 0.7rem 0.1rem #0002;
    background: var(--bg-color);
}

#topRated .card .card-image {
    background: #f0f0f0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 180px;
    width: 100%;
    border-radius: 0.5rem;
    overflow: hidden;
}

#topRated .card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 0.5rem;
    transition: 0.2s;
}

#topRated .card:hover .card-image img {
    transform: scale(1.08);
}

#topRated .card-image .love {
    z-index: 1;
    font-size: 1.3rem;
    position: absolute;
    top: 0.9rem;
    right: 1.1rem;
    color: var(--main-color);
    opacity: 0;
    pointer-events: none;
    transition: 0.1s;
}

#topRated .card:hover .card-image .love {
    font-weight: 300;
    opacity: 1;
    pointer-events: unset;
}

#topRated .card-text {
    margin: 1.1rem 0.5rem 0.5rem;
    position: relative;
}

#topRated .card-text::after {
    content: '';
    background: #e9e7e7;
    height: 2px;
    width: 100%;
    position: absolute;
    bottom: -4px;
    left: 50%;
    transform: translateX(-50%);
}

#topRated .card-text .name {
    font-size: 0.98rem;
    font-weight: 600;
}

#topRated .card-text .price {
    font-size: 1.28rem;
    font-weight: 500;
    padding: 0.5rem 0 0.7rem;
}

#topRated .card-text .price span.coloured {
    color: var(--main-color);
    padding-right: 0.8rem;
    border-right: 1px solid #d3d1d1;
}

#topRated .card-text .price span.black{
    color: #444;
    padding-left: 0.8rem;
}

#topRated .card-text .price span.sub {
    font-size: 0.7rem;
    font-weight: 400;
}

#topRated .card-info {
    margin: 1.2rem 0.5rem 0.7rem;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#topRated .card-info p {
    font-size: 0.8rem;
    font-weight: 500;
    color: #777;
    display: flex;
    align-items: center;
}

#topRated .card-info .bx {
    font-size: 1.1rem;
    margin-right: 0.4rem;
}

#topRated .card-btn {
    background: var(--main-color);
    margin: 1rem 0.5rem 0.5rem;
    width: 95%;
    height: 2.5rem;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--bg-color);
    font-size: 0.85rem;
    font-weight: 500;
    box-shadow: 0 0.3rem 0.7rem 0.1rem #ff003749;
    transition: 0.1s;
}

#topRated .card-btn:hover {
    background: var(--text-color);
    box-shadow: 0 0.3rem 0.7rem 0.1rem #0005;
}

footer {
    background: #13141b;
    color: var(--bg-color);
    padding: 4rem 0;
    margin-top: 4rem;
}

footer .first-section,
footer .second-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    row-gap: 2rem;
    column-gap: 1rem;
}

footer .col .lengthy-text {
    max-width: 23rem;
}

footer .col .logo {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.col .logo span {
    color: var(--main-color);
}

footer .col p {
    font-size: 0.8rem;
    color: #cecbcb;
    line-height: 25px;
}

footer .col .heading {
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

footer .heading .line {
    background: #ff0037a8;
    height: 2px;
    width: 2.3rem;
    border-radius: 50px;
    position: relative;
    margin-bottom: 1.5rem;
    margin-top: 0.1rem;
}

footer .heading .line::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    height: 2px;
    width: 65%;
    background: #ff0037a8;
}

footer .col .links {
    font-size: 0.8rem;
    margin-bottom: 1rem;
    color: #cecbcb;
    line-height: 25px;
}

footer .col .links:hover {
    color: var(--main-color);
}

footer .col .gallery-img {
    max-width: 7rem;
    max-height: 4rem;
    border-radius: 0.4rem;
}

footer .col img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 0.4rem;
}

footer .col .gallery-wrapper {
    max-width: 24rem;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 1.5rem;
}

footer .borders {
    margin: 2rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 3rem;
}

footer .borders .border {
    width: 100%;
    height: 2px;
    background: #777;
    border-radius: 50px;
}

footer .second-section .long-col {
    width: 24rem;
}

.second-section .long-col .two-columns {
    justify-content: space-between;
}

footer .col .two-columns {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 1rem;
}

footer .col .bx {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    background: var(--main-color);
    border-radius: 50%;
}

.col .two-columns span {
    color: #999;
}

.copyright {
    padding: 1rem 0;
    font-size: 0.9rem;
    background: #454a52;
    color: var(--bg-color);
}

.copyright .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copyright .container span {
    color: var(--main-color);
}

.copyright .container .social-media-ics {
    display: flex;
    column-gap: 1rem;
    justify-content: flex-end;
}

.copyright .social-media-ics .bx {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    width: 2.3rem;
    height: 2.3rem;
    background: #6c727a;
    color: var(--bg-color);
    border-radius: 50%;
}

.copyright .credit {
    margin-top: 1rem;
}

.copyright .credit a {
    color: var(--main-color);
}

/* Custom Breakpoint 1 */
@media (max-width: 1128px) {
    .container {
        margin-left: 2rem;
        margin-right: 2rem;
    }
}

/* Custom Breakpoint 2 */
@media (max-width: 991px) {
    .top {
        padding: 15px 25px;
    }

    section {
        padding: 2rem 0 1rem;
    }

    .top .navbar .search-wrapper {
        width: 93%;
    } 
}

/* Custom Breakpoint 3 */
@media (max-width: 970px) {
    .top .navbar {
        column-gap: 20px;
    }
}

/* Tablet Breakpoint */
@media (max-width: 768px) {
    .top {
        padding: 10px 25px;
    }

    .top #nav-icon {
        display: flex;
    }

    .top .search-icon {
        background: none;
        color: var(--text-color);
        font-size: 1.5rem;
    }

    .top .navbar {
        display: flex;
        align-items: center;
        justify-content: stretch;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: var(--bg-color);
        box-shadow: 0 0 10px #0002;
        text-align: center;
        pointer-events: none;
        transition: 0.3s;
        clip-path: circle(0% at 100% 0%);
    }

    .top .navbar.show {
        pointer-events: unset;
        clip-path: circle(144% at 100% 0%);
    }

    .navbar a {
        width: 100%;
        height: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .navbar a:hover  {
        color: var(--bg-color);
        background: var(--main-color);
        width: 100%;
    }

    .navbar .active {
        background: var(--main-color);
        color: var(--bg-color);
        transition: none;
    }

    .navbar a::after {
        display: none;
    }

    header {
        height: 400px;
    }

    #about .about-img {
        display: none;
    }

    #about .about-text .heading {
        text-align: center;
        align-items: center;
    }

    .about-text .heading .line {
        width: 5rem;
        margin-bottom: 1.5rem;
    }
    
    .about-text .heading .line::after {
        left: 50%;
        transform: translateX(-50%);
        width: 70%;
    }

    #faq .faq-content {
        padding-right: 0;
        width: 100%;
    }

    #faq .faq-image {
        display: none;
    }

    .swiper-pagination-bullet {
        display: none !important;
    }

    .swiper-navBtns {
        display: none !important;
    }

    .slide-content,
    .swiper-content {
        padding: 0;
        margin: 0;
    }

    #topRated .card {
        height: fit-content !important;
        padding: 0;
        border-radius: 0;
        box-shadow: none;
    }

    #topRated .card-btn {
        width: 96%;
    }

    #testimonial .testimonial-wrapper .testimonial-card {
        padding: 0;
        padding-bottom: 3.5rem;
        border-radius: 0;
        box-shadow: none;
    }

   .testimonial-wrapper .testimonial-card .quote-ic {
        display: none;
    }

    .copyright .container {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        row-gap: 1rem;
    }
}

/* /* Custom Mobile Breakpoint  */
@media (max-width: 375px) {
    .container {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .top {
        padding: 10px 1rem;
    }
}